.root {
  top: 0;
  position: static;
  display: flex;
  padding: 1rem;
  background-color: grey;
  justify-content: space-between;
}
.header {
  color: black;
  font-size: 25px;
  margin-right: 20px;
  background-color: rgba(253, 253, 252, 0.493);
  padding: 10px;
  border-radius: 10px;
}
.nav {
  display: flex;
  gap: 20px;
  font-size: 24px;
  align-items: center;
}
.nav_item {
  font-size: 24px;
  color: rgb(255, 255, 255);
}
.active_nav_item {
  color: red;
}
